<%- include('../../partials/header') %>

<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <h3 class="sidenav-title text-center">CATEGORIES</h3>
  <a class="my-4" href="/products">All</a>
  <% for(cat of uniqecat){%>
  <a class="my-4" href="/products?category=<%= cat %>"><%= cat %> </a>
  <% } %>
</div>

<div class="menu-btn" onclick="openNav()">
  <i class="fa fa-arrow-right fa-2x"></i>
</div>

<div class="menu-btn add-post" onclick="window.location.href ='/products/new'" style="left: calc(100% - 2em - 50px);">
  <i class="fa fa-plus fa-2x"></i>
</div>

<div class="container text-center">
  <h2 class="font-weight-bold mt-3" style="color: #343f3e;"><%= `${currentcat[0].toUpperCase() + currentcat.slice(1)} Products`%> </h1>
</div>
<% for(let product of allproducts) {%>

<div class="card-container container">
  <div class="card mx-0 px-0">
    <div class="container-fluid">
      <div class="row" style="height: 100%">
        <div class="col-lg-6 mx-0 px-0">
          <div class="image">
            <img
              loading="lazy"
              class="img-fluid"
              src=<%= product.image %>
              alt=<%= product.title %>
            />
          </div>
        </div>
        <div class="col-lg-6 mx-0 px-3 py-3">
          <div class="infos">
            <h1 class="">
              <a href="/products/<%= product._id %>"
                ><%= product.title %>
              </a>
            </h1>
            <div class="reviews">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
            <div class="price">
              <h3>$<%= product.price %></h3>
            </div>
            <div class="more-infos">
              <h5>
                <a href="/products/<%= product._id %>/show">Description </a>
              </h5>
            </div>
            <div class="info-content"></div>
            <div class="buttons container">
              <div class="row">
                <div class="col-md-6"><button type="button" name="button">
                <i class="fa fa-shopping-cart"></i>Cart
              </button></div>
                <div class="col-md-6"><button type="button" name="button"><i class="fas fa-shopping-basket"></i>Buy</button></div>

            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% } %>
<section class="colored-section" id="testimonials">
  <div id="testimonial-carousel" class="carousel slide w-100" style="min-height: 200px;" data-ride="false">
    <div class="carousel-inner">
      <div class="carousel-item active container-fluid text-center" style="min-height:200px;">
        <h3 class="testimonial-text">I like it, products here are affordable and also good</h3>
        <div class="carousel-caption"><p class="lead" style="color:#dcedff !important;">Beverly, Illinois</p></div>
        
      </div>
      <div class="carousel-item container-fluid text-center" style="min-height:200px">
        <h2 class="testimonial-text" style="color: #dcedff;">A great website to get best deals on best products</h2>
        <div class="carousel-caption"><p class="lead" style="color:#dcedff !important;">John, Chicago</p></div>
      </div>

    </div>
    <a class="menu-btn carousel-control-prev" style="position: absolute;margin: 0;left: 1em;top: 50%;" href="#testimonial-carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="menu-btn carousel-control-next" style="position: absolute;margin: 0;left:calc(100% - 1em - 50px - 1em);top: 50%;" href="#testimonial-carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>



</section>
 <%- include('../../partials/footer') %>
