<%- include('../../partials/header') %>

  <div class="card container-fluid" style="border-radius: 0px;height: 90vh;">
    <div class="row">
      <div class="col-lg-6 mx-0 px-0" >
        <div class="image" style="max-height: 90vh;border-radius: 0px !important;justify-content: center;">
          <img
            loading="lazy"
            class="img-fluid"
            style="border-radius: 0px;max-height: 100%;"
            src=<%= foundproduct.image %>
            alt=<%= foundproduct.title %>
          />
        </div>
      </div>
      <div class="col-lg-6 mx-0 px-3 py-3">
        <div class="infos">
          <h1 class="">
            <a href="/products/<%= foundproduct._id %>">
              <%= foundproduct.title %>

            </a>

          </h1>
          <div class="reviews">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
          </div>
          <div class="price">
            <h3>$<%= foundproduct.price %></h3>
          </div>
          <div class="more-infos">
            <h5>
                      <%= foundproduct.category.toUpperCase() %>
            </h5>

            <h5>
              <a href="/products/<%= foundproduct._id %>">Product Details</a>
            </h5>
            <p class="lead my-3"><%= foundproduct.description %> </p>
          </div>
          <div class="product-buttons container px-0 py-0">
            <div class="row">
              <div class="col-lg-3"><button class="btn-primary" style="margin: 0 0;filter: none;width: 100%;"><i class="fa fa-shopping-cart"></i>Cart</button></div>
              <div class="col-lg-3"><button class="btn-success" style="margin: 0 0;filter: none;width: 100%;"><i class="fas fa-shopping-basket"></i>Buy</button></div>
              <div class="col-lg-3"><button onclick="window.location.href ='/products/<%= foundproduct._id %>/edit'" class="btn-info" style="margin: 0 0;filter: none;width: 100%;"><i class="fas fa-edit"></i>Edit</button></div>
              <div class="col-lg-3"><button onclick="window.location.href ='/products/<%= foundproduct._id %>/delete'" class="btn-danger" style="margin: 0 0;filter: none;width: 100%;"><i class="fas fa-trash-alt"></i>Delete</button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!-- <div class="container text-center product-div">
  hi
    <h1 class="my-3"><%= foundproduct.title %></h1>
    <div class="category my-3">
        <span class="mx-3 text-center">
                <%= foundproduct.category %>
        </span>
    </div>
    <h3 class="my-3"><b>$<%= foundproduct.price %> </b></h3>
    <p class="lead my-3"><%= foundproduct.description %> </p>
</div> -->
<%- include('../../partials/footer') %>
